<html>
    <head>
        <title>Blog App</title>
        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item item"><i class="code icon"></i>Blogs</a>
                <a href="/blogs/new" class="item"><i class="plus square outline icon"></i>New Post</a>
            </div>
        </div>