<% include ./partials/header %>

<div class="ui main container segment">
    <div class="ui huge header">Create New Blog</div>
    
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Blog Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Blog Image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]"  placeholder="content"></textarea>
        </div>
        <input class="positive big ui button" type="submit">
    </form>
</div>

<% include ./partials/footer %>